<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>excel to pdf</title>
</head>
<body>
    <form enctype='multipart/form-data' action='http://127.0.0.1:5000/convert' method="POST">
        <label>filename</label>
        <input type="file" name="file">
        <button>Submit</button>
    </form>
    <!-- <script src="script.js"></script> -->
</body>
</html>